%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
[ {kgist, [ {root_dir, "priv/www"}
          , {log_dir,  "priv/logs"}
          , {view_dir, "priv/views"}
          , {default_language, "Erlang"}
          , {admin_email, "noname@nohost.com"}
          ]}
, {mnesia, [ {dir, "priv/data"}
           ]}
, {misultin, [ {port, 8001}
             ]}
].
