%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
{erl_opts, [debug_info, warnings_as_errors]}.
{deps, [ {tulib, "0.2.0",
          {git, "git://github.com/djui/tulib.git"}}
       , {webmachine, "1.9.0",
          {git, "git://github.com/basho/webmachine.git", {tag, "1.9.0"}}}
       , {mustache, "0.1.0",
          {git, "git://github.com/mojombo/mustache.erl.git"}}
       ]}.
