%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
{erl_opts, [debug_info, fail_on_warning]}.
{deps, [ {tulib, "0.2.0",
          {git, "git://github.com/djui/tulib.git"}}
       , {webmachine, "1.8.1",
          {git, "git://github.com/basho/webmachine.git", {tag, "webmachine-1.8.1"}}}
       , {mustache, "0.1.0",
          {git, "git://github.com/mojombo/mustache.erl.git"}}
       ]}.
