%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
[ {kgist, [ {view_dir, "priv/views"}
          , {default_language, "erlang"}
          ]}
, {mnesia, [ {dir, "priv/db"}
           ]}
, {webmachine, [ {host, "0.0.0.0"}
               , {port, 80}
               , {log_dir, "priv/log"}
               , {dispatch, [ {[],
                               kgist_main_resource,
                               []}
                            , {["new"],
                               kgist_main_resource,
                               [new]}
                            , {[id],
                               {kgist_gist_resource, is_gist},
                               kgist_gist_resource,
                               []}
                            , {[id, "download"],
                               {kgist_gist_resource, is_gist},
                               kgist_gist_resource,
                               [download]}
                            , {[id, "raw"],
                               {kgist_gist_resource, is_gist},
                               kgist_gist_resource, 
                               [raw]}
                            , {['*'],
                               kgist_static_resource,
                               []}
                            ]}
               ]}
].
