<div id="recent_gists">
  <h1>Recent</h1>
  {{#gists}}
  <ul id="recent_list">
    <li>
      Gist <a href="/{{id}}">{{id}}</a> by {{author}}<br/>
      <span class="description">{{description}}</span>
    </li>
  </ul>
  {{/gists}}
</div>

<!--
<form action="/">
  <input type="submit" value="&larr; Overview" />
</form>
-->
  
<form id="gist_form" action="/" method="post">
  <h1>New gist</h1>
  <input id="gist_form_description" type="text" name="description" value="{{{gist/description}}}" tabindex=1 placeholder="Description&hellip;" />
  <input id="gist_form_snippet_filename" type="text" name="filename" value="{{{gist/filename}}}" placeholder="Name this file&hellip;" tabindex=2 />
  <div id="gist_form_snippet_languages_wrapper">
    <label for="gist_form_snippet_languages">Language:</label>
    <select id="gist_form_snippet_languages" name="language" tabindex=3>
      <option value="Bash">Bash</option> 
      <option value="Clojure">Clojure</option> 
      <option value="CoffeeScript">CoffeeScript</option> 
      <option value="Common Lisp">Common Lisp</option> 
      <option value="CSS">CSS</option> 
      <option value="Diff">Diff</option> 
      <option value="Erlang">Erlang</option> 
      <option value="Gettext Catalog">Gettext Catalog</option> 
      <option value="Gnuplot">Gnuplot</option> 
      <option value="Go">Go</option> 
      <option value="Haskell">Haskell</option> 
      <option value="HTML">HTML</option> 
      <option value="INI">INI</option> 
      <option value="IRC logs">IRC logs</option> 
      <option value="Java">Java</option> 
      <option value="JavaScript">JavaScript</option> 
      <option value="Makefile">Makefile</option> 
      <option value="MySQL">MySQL</option> 
      <option value="Perl">Perl</option> 
      <option value="PHP">PHP</option> 
      <option value="Python">Python</option> 
      <option value="Python 3">Python 3</option> 
      <option value="reStructuredText">reStructuredText</option> 
      <option value="Ruby">Ruby</option> 
      <option value="R">R</option>
      <option value="Scala">Scala</option> 
      <option value="SQL">SQL</option> 
      <option value="TeX">TeX</option> 
      <option value="Text only">Text only</option> 
      <option value="VimL">VimL</option> 
      <option value="XML">XML</option>  
      <option value="XQuery">XQuery</option> 
      <option value="XSLT">XSLT</option> 
    </select>
    <script>$('#gist_form_snippet_languages').val('{{{gist/language}}}')</script>
  </div>
  <textarea id="gist_form_snippet_code" name="code" tabindex=4 autofocus required>{{{gist/code}}}</textarea>
  <input id="gist_form_author" type="text" name="author" value="{{{gist/author}}}" tabindex=6 placeholder="Author&hellip;" />
  <!--
  <input id="gist_form_irc" type="text" name="irc" tabindex=7 value="{{{gist/irc}}}" placeholder="#channel&hellip;" />
  -->
  <label for="gist_form_expires">Expires:</label>
  <select id="gist_form_expires" name="expires" tabindex=8>
    <option value="" selected>Never</option>
    <option value="1h">1 hour</option>
    <option value="1d">1 day</option>
    <option value="1w">1 week</option>
    <option value="1m">1 month</option>
    <option value="1y">1 year</option>
  </select>
  <script>$('#gist_form_expires').val('{{{gist/expires}}}')</script>
  <div id="gist_form_submit_wrapper">
    <input id="gist_form_submit" type="submit" value="Submit" tabindex=5 />
  </div>
  <script>
    $('#gist_form_irc').change(function() {
      if ($(this).val()) $('#gist_form_submit').val("Submit & Publish");
      else $('#gist_form_submit').val("Submit");
    });
  </script>
</form>
