@font-face { font-family: Terminus; src: url('../Terminus.ttf'); }
@font-face { font-family: Terminus; font-weight: bold; src: url('../TerminusBold.ttf'); }
@font-face { font-family: ProggyCleanSZBP; src: url('../ProggyCleanSZBP.ttf'); }

html, body { padding: 0; margin: 0; background: #FFFFFF; }
body { color: #101010; font-family: Helvetica, sans-serif; font-size: 15px;
       background: #FFFFFF;
       background: -moz-linear-gradient(top, #DEDEDE, #FFFFFF 10%);  
       background: -webkit-gradient(linear, 0 0, 0 10%, from(#DEDEDE), to(#FFFFFF));  
       background: linear-gradient(top, #DEDEDE 0%, #FFFFFF 10%);
     }
h1, h2, h3, h4, h5, h6 { padding: 0; margin: 12px 0 12px -2px; text-shadow: 1px 1px 1px #666666; }
header { height: 80px; margin-bottom: 40px;
         background: -moz-linear-gradient(100% 100% 90deg, #1F2842, #343F5F);
         background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#343F5F), to(#1F2842));
         background: -webkit-linear-gradient(#343F5F, #1F2842);
         background: -o-linear-gradient(#1F2842, #343F5F);
         border-radius: 10px;
       }

a { color: #101010; }
a:visited { color: #101010; }

#header { padding: 22px; color: #FFFFFF }

#container { padding: 50px 50px; }

#gist_form { margin-top: 10px; border-radius: 5px; padding: 5px 20px 20px 20px; width: 800px; background-color: #FAFAFA; border: 1px #CCCCCC solid; }
label { margin-right: 5px; color: #909090; }
#gist_form_snippet_filename { width: 400px; }
#gist_form_snippet_languages_wrapper { float: right; }
#gist_form_snippet_code { margin: 10px 0 10px 0; width: 800px; height: 300px; font-family: ProggyCleanSZBP; font-smooth: never; font-size: 16px; }
#gist_form_description { margin-bottom: 10px; width: 800px; display: block; }
#gist_form_author { margin-right: 15px; }
#gist_form_irc { margin-right: 15px; }
#gist_form_expires { margin-right: 15px; }
#gist_form_submit_wrapper { white-space: nowrap; float: right; }

#gist { margin-top: 10px; padding: 5px 20px 20px 20px; width: 800px; border-radius: 5px; background-color: #FAFAFA; border: 1px #CCCCCC solid; }
#gist_description { }
#gist_author { margin-bottom: 10px; }
#gist_snippet { border-radius: 5px; background: #EEEEEE; border: 1px #CCCCCC solid; margin: 20px 0; padding: 15px; }
#gist_snippet_filename { margin-bottom: 10px; }
#gist_snippet_language { }
#gist_snippet_exports { float: right; }
#gist_snippet_code { margin: 15px 0 10px 0; padding: 0; min-height: 0px; border: 1px #CCCCCC solid; background-color: #FFFFFF; }
#gist_expires { }
#gist_commands { float: right; }

.highlight > pre { padding: 0; margin: 0; font-family: ProggyCleanSZBP; font-smooth: never; font-size: 16px; }

.form_button { display: inline; }

#recent_list { list-style-type: none; padding: 0px; }
.description { color: #999999; }