<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>kGist {{page_title}}</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/syntax_github.css" />
  <link rel="stylesheet" href="/css/formalize.css" />
  <script src="/js/modernizr-1.7.min.js"></script>
  <script src="/js/jquery-1.6.4.min.js"></script>
  <script src="/js/jquery.formalize-1.1.min.js"></script>
</head>

<body>
  <div id="container">
    <header>
      <h1 id="header">kGist &mdash; Code Snippets</h1>
    </header>

    {{#messages}}
    <div class="flash_error">{{error}}</div>
    <div class="flash_info">{{info}}</div>
    {{/messages}}

    <div id="recent_gists">
      <h1>Recent</h1>
      {{#gists}}
      <ul id="recent_list">
        <li>
          Gist <a href="/gist/{{id}}">{{id}}</a> by {{author}}<br/>
          <span class="description">{{description}}</span>
        </li>
      </ul>
      {{/gists}}
    </div>
    
    <!--
    <form action="/">
      <input type="submit" value="&larr; Overview" />
    </form>
    -->

    {{{body}}}

    <footer>
      Feedback? <a href="mailto:{{admin_email}}">Contact</a> us.
    </footer>
  </div>
</body>
</html>
